fastapi
uvicorn[standard]
chromadb
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
langdetect
langchain-chroma
langchain-unstructured
sentence-transformers
rank-bm25
# For document loading
unstructured[all-docs]
pdf2image
pytesseract
pypdf
fastmcp